@import 'framework';

main {
  width: calc(100% - 280px);
}

.main-navigation {
  min-width: 280px;
  max-width: 280px;

  ul {
    margin-left: var(--spacing-1);
    padding-left: var(--spacing-1);
    border-left: var(--border);
    border-color: rgba(0, 0, 0, 0.03);
    overflow: hidden;
    height: 0;
  }

  > ul {
    border: none;
    margin: 0;
    padding: 0;
  }

  ul.open {
    height: auto;
  }

  .btn-link {
    font-size: 0.8rem;
    width: 100%;
    padding: var(--spacing-2);
    height: auto;
  }
}

.header {
  @include box-shadow;
  background-color: var(--c-elevation-1);
  border-bottom: 1px solid var(--c-border);
  margin-bottom: var(--spacing-6);
  position: relative;
}

.header-navigation {
  display: flex;
  margin-left: var(--spacing-10);
}

.header-logo {
  display: flex;
  align-items: center;
  font-weight: 200;
  color: var(--c-text-primary);
  padding: var(--spacing-3) 0;

  img {
    width: 32px;
    height: 32px;
  }
}

.header-menu {
  gap: var(--spacing-2);

  img {
    width: 32px;
    height: 32px;
  }
}

.rich-text *:first-child {
  margin-top: 0;
}
