@use 'framework';
@use 'framework/mixins';

@media (prefers-color-scheme: dark) {
  :root {
    --c-primary:#d5d8e3;
    --c-primary-accent:#878fc4;
    --c-primary-text:#000000;
    --c-secondary:#4f5d75;
    --c-secondary-text:#ffffff;
    --c-call-to-action:#ef8354;
    --c-call-to-action-accent:#d06335;
    --c-call-to-action-text:#000000;
    --c-text-primary:#ffffff;
    --c-text-secondary:#ffffff;
    --c-success:#E3FBE3;
    --c-success-text:#0A470A;
    --c-info:#E3EFFB;
    --c-info-text:#12467B;
    --c-warning:#FDF0E1;
    --c-warning-text:#492B08;
    --c-error:#fce4e4;
    --c-error-text:#7d1212;
    --c-elevation-0:#272729;
    --c-elevation-1:#333438;
    --c-elevation-2:#424246;
    --c-elevation-3:#46474d;
    --c-elevation-4:#46474d;
    --c-elevation-5:#46474d;
    --c-hover:rgba(255, 255, 255, 0.03);
    --border-style:solid;
    --border-width:1px;
    --border-color:rgba(255, 255, 255, 0.1);
    --border:var(--border-style) var(--border-width) var(--border-color);
    --border-radius:8px;
    --font-size:16px;
  }
}

main {
  width: calc(100% - 280px - var(--spacing-4));
  min-width: 600px;
}

footer {
  display: block;
}

.main-navigation {
  min-width: 280px;
  max-width: 280px;

  ul {
    margin-left: var(--spacing-1);
    padding-left: var(--spacing-1);
    border-left: var(--border);
    border-color: rgba(0, 0, 0, 0.03);
    overflow: hidden;
    height: 0;
  }

  > ul {
    border: none;
    margin: 0;
    padding: 0;
  }

  ul.open {
    height: auto;
  }

  .btn-link {
    font-size: 0.8rem;
    width: 100%;
    padding: var(--spacing-2);
    height: auto;
  }
}

.header {
  @include mixins.box-shadow;
  background-color: var(--c-elevation-1);
  border-bottom: 1px solid var(--c-border);
  margin-bottom: var(--spacing-6);
  position: relative;
}

.header-navigation {
  display: flex;
  margin-left: var(--spacing-10);
}

.header-logo {
  display: flex;
  align-items: center;
  font-weight: 200;
  color: var(--c-text-primary);
  padding: var(--spacing-3) 0;

  img {
    width: 32px;
    height: 32px;
  }
}

.header-menu {
  gap: var(--spacing-2);

  img {
    width: 32px;
    height: 32px;
  }
}

.rich-text > *:first-child {
  margin-top: 0;
}

.alert *:last-child {
  margin-bottom: 0;
}

span {
  &.btn-link {
    height: 30px;
    cursor: default;
    padding: var(--spacing-2);
  }
}

ol, ul {
  margin-bottom: var(--spacing-2);
}

.main-navigation ul {
  margin-bottom: 0;
}

.heading-link {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);

  svg {
    opacity: 0;
    transition: opacity ease-in-out 200ms;
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }
}

.h-auto {
  height: auto;
}
